body{
     background-image: url("assets/white_wall_hash_@2X.png");
     /*color:white;*/
     font-family: 'Bowlby One', cursive;
}

#dealer, #player{
  border: 2px solid black;
  width: 1050px;
  height: 220px;
  margin-bottom: 10px;
  background-color: #319B00;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

img {
     width: 150px;
     height: 200px;
     /*margin: 10px;*/
     margin: 10px;
     border: 1px solid black;
     border-radius: 10px;
}

h1 {
     width: 255px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;
     letter-spacing: 5px;
     text-transform: uppercase;
     border-bottom: 1px solid red;
}
h2 {
     margin-left: auto;
     margin-right: auto;
     width: 1050px;
}

p{
     border: 1px solid black;
     width:220px;
     margin-left: auto;
     margin-right: auto;
}
#buttons {
     width: 364px;
     margin-left: auto;
     margin-right: auto;
}

footer {
     width: 337px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 80px;
     font-size: 12px;
}

#totalCash {
     width: 150px;
}
